


<h3>Item available in cart</h3><div>
    <table class="table table-bordered">
        <tr>
                <th>Image</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Buy</th>
        </tr>
        <tr>
            
            <td style="width:10%" ><img src="assets/chicken-hyderabadi-biryani-01.jpg" alt="panner" ></td>
            <td>Chicken Biryani</td>
            <td>Rice with Chicken pieces</td>
            <td>200</td> 
            <td> <button type="button" class="btn btn-success">add to cart</button></td>
    
        </tr>
    </table>

    <button class="btn btn-success">proceed to pay</button> 200 INR

    <h2>Payment Successful</h2>

</div>

